<table class="twelve">
  <thead>
    <tr>
      <th>Subject</th>
      <th>From</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
  </tbody>
</table>