<div class="container body">
	<div class="row">
		<div class="two columns">

		</div>
		<div class="eight columns">
			<h1>New topic</h1>
		</div>
		<div class="two columns"></div>
	</div>
  <div class="row">
  	<%= render 'form' %>
  </div>
</div>
