<div class="container footer">
  <div class="row">
    <div class="9 columns">
      Copyright &#169; Fakultas Elektro dan Komunikasi IT Telkom 2013
    </div>
    <div class="three columns">
      
    </div>
  </div>
</div>